/*
Paletas de Colores de la pagina.

Colores principales: H2 y BOTONES
* #0055af

Colores secundarios: HEADER, FOOTER, BORDES
* #121212

Color de Fondo BODY
* #f8f9fa

Color del texto PRINCIPAL
* #212529

Color del texto CLARO
* #fff

*/

/* ESTILIZADO GENERAL */
* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

/* CUERPO DE PAGINA */
body{
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #212529;
}

/* CABECERA */
header{
    background-color: #121212;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

/*
NUEVO ################################
*/

nav ul{
    display: flex;
    justify-content: center;
    gap: 25px;
    list-style: none;
}

#inicio{
    background-color: #070F2B;
    color: #fff;
    padding: 15px;
    border-radius: 15px;
}

/* ESTILIZADO DEL MENU */
#menu article{
    border: 1px solid black;
    border-radius: 15px;
    padding: 25px;
    margin-bottom: 15px;
}
#menu article h3{
    background-color: #535C91;
    color: #fff;
    border-radius: 15px;
    padding: 15px;
}

/*Linea separadora*/
.separador{ 
    border: 1px solid black;
    margin-bottom: 15px;
}
/* SECCIONES DE PAGINA*/
#juegos, #contacto, #menu, #inicio, #servicios{
    margin-top: 20px;
}


.boton_compra{
    display: flex;
    justify-content: right;
}
.boton_compra p{
    margin-left: 10px;
    color: #9290C3;
    font-weight: bolder;
    font-size: 20px;
}
.boton_compra button{
    margin-left: 15px;
    font-size: 20px;
    font-weight: bolder;
    color: #fff;
    background-color: #1B1A55;
    padding-inline: 25px;
    border-radius: 15px;
}
.boton_compra button:hover{
    color: #9290C3;
    background-color: #070F2B;

}
form{
    background-color: #535C91;
    padding: 25px;
    border-radius: 15px;
}

#servicios ul{
    padding: 0px;
}
#servicios ul li{
    list-style: none;
    font: 10px;
    font-weight: bolder;
    border-radius: 15px;
    padding: 10px;
    color: #fff;
    background-color: #0055af;
    margin-bottom: 10px;
}
/*
NUEVO FIN ################################
*/

/* ICONO REPRESENTATIVO*/
.icono{
    width: 70px;
    height: 70px;
}

/* Botones de navegacion */
nav a{
    color: #212529;
}
nav a:hover{
    color: #0055af;
}
/* Parte principal de la pagina */
main{
    margin-inline: 240px;
}

/* Imagenes de los Juegos */
.juegos{
    width: 100%;
    height: 400px;
}

/* Seccion contacto */
#contacto form{
    margin-right: 50%;
}

/* representantes del formulario */
label{
    color: #fff;
    font-weight: bolder;
    margin-bottom: 5px;
    display: block;
    margin-bottom: 5px;
}

/* Partes escribibles del formulario */
input, textarea{
    font-size: 16px;
    width: 100%;
}